.forgot-password{
display:flex;
justify-content:flex-end;
margin-top:-8px;
}

.forgot-password a{
text-decoration:none;
color:#6C2BD9;
font-weight:600;
}

.switch-auth{
text-align:center;
margin-top:10px;
}

.switch-auth a{
margin-left:6px;
color:#6C2BD9;
font-weight:700;
text-decoration:none;
}