.success-page{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#F5F0FF,#FFFFFF);
    padding:40px;
}

.success-page{
    flex-direction:column;
    text-align:center;
}

.success-icon{
    font-size:90px;
    color:#22C55E;
    margin-bottom:25px;
    animation:pop .6s ease;
}

.success-page h1{
    font-size:2.8rem;
    color:#111827;
    margin-bottom:20px;
}

.success-page p{
    max-width:600px;
    font-size:18px;
    line-height:1.8;
    color:#6B7280;
    margin-bottom:40px;
}

.success-buttons{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
    justify-content:center;
}

.continue-btn,
.home-btn{

    padding:16px 34px;

    border:none;

    border-radius:14px;

    cursor:pointer;

    font-size:16px;

    font-weight:600;

    transition:.35s;

}

.continue-btn{

    background:#6C2BD9;

    color:white;

    box-shadow:0 15px 30px rgba(108,43,217,.25);

}

.continue-btn:hover{

    transform:translateY(-4px);

}

.home-btn{

    background:white;

    color:#6C2BD9;

    border:2px solid #6C2BD9;

}

.home-btn:hover{

    background:#6C2BD9;

    color:white;

}

@keyframes pop{

    0%{
        transform:scale(.3);
        opacity:0;
    }

    100%{
        transform:scale(1);
        opacity:1;
    }

}