.search-bar{
    position:relative;
    width:240px;
}

.search-bar input{
    width:100%;
    height:52px;

    padding:0 52px 0 48px;

    border:2px solid #E5E7EB;
    border-radius:40px;

    font-size:15px;
    font-weight:500;

    outline:none;
    transition:.3s;

    background:#fff;
}

.search-bar input::placeholder{
    color:#9CA3AF;
    font-size:15px;
}

.search-bar input:focus{
    border-color:#6C2BD9;
    box-shadow:0 0 0 4px rgba(108,43,217,.12);
}

.search-icon{
    position:absolute;
    left:18px;
    top:50%;

    transform:translateY(-50%);

    color:#9CA3AF;
    font-size:17px;

    pointer-events:none;
}

.clear-search{
    position:absolute;
    right:16px;
    top:50%;

    transform:translateY(-50%);

    background:none;
    border:none;

    color:#9CA3AF;
    cursor:pointer;

    font-size:15px;
}

.clear-search:hover{
    color:#6C2BD9;
}
.search-suggestions{
    position:absolute;
    top:60px;
    left:0;
    width:100%;
    background:var(--card);
    border:1px solid var(--border);
    border-radius:12px;
    overflow:hidden;
    box-shadow:0 10px 25px rgba(0,0,0,.12);
    z-index:999;
}

.suggestion-item{
    display:flex;
    align-items:center;
    gap:12px;
    padding:12px;
    cursor:pointer;
    transition:.25s;
}

.suggestion-item:hover{
    background:rgba(108,43,217,.08);
}

.suggestion-item img{
    width:60px;
    height:60px;
    object-fit:contain;
    background:#fff;
    border-radius:10px;
    padding:5px;
    flex-shrink:0;
}

.suggestion-item h4{
    margin:0;
    font-size:15px;
    color:var(--text);
}

.suggestion-item small{
    color:var(--primary);
    font-weight:700;
}

.no-suggestion{
    padding:15px;
    text-align:center;
    color:var(--text2);
}