.checkout-page{

padding:90px 8%;

background:#F8FAFC;

min-height:100vh;

}

.checkout-page h1{

text-align:center;

margin-bottom:50px;

font-size:2.8rem;

color:#111827;

}

.checkout-container{

display:grid;

grid-template-columns:2fr 1fr;

gap:40px;

align-items:start;

}

.checkout-left{

display:flex;

flex-direction:column;

gap:30px;

}

.checkout-card{

background:white;

padding:30px;

border-radius:18px;

box-shadow:0 12px 35px rgba(0,0,0,.08);

}

.checkout-card h2{

margin-bottom:25px;

}

.checkout-card input,

.checkout-card textarea{

width:100%;

padding:15px;

margin-bottom:18px;

border:1px solid #ddd;

border-radius:10px;

font-size:15px;

}

.checkout-card textarea{

height:120px;

resize:none;

}

.double-input{

display:grid;

grid-template-columns:1fr 1fr;

gap:15px;

}

.checkout-card label{

display:flex;

gap:12px;

margin-bottom:15px;

cursor:pointer;

}

.summary-item{

display:flex;

gap:15px;

margin-bottom:20px;

align-items:center;

}

.summary-item img{

width:70px;

height:70px;

border-radius:10px;

object-fit:cover;

}

.summary-row{

display:flex;

justify-content:space-between;

margin:18px 0;

}

.total{

font-size:20px;

font-weight:bold;

color:#6C2BD9;

}

.place-order{

width:100%;

padding:18px;

background:#16A34A;

color:white;

border:none;

border-radius:12px;

font-size:17px;

cursor:pointer;

margin-top:25px;

transition:.3s;

}

.place-order:hover{

background:#6C2BD9;

}

@media(max-width:900px){

.checkout-container{

grid-template-columns:1fr;

}

.double-input{

grid-template-columns:1fr;

}

}