.product-section{

padding:110px 8%;

background:white;

}

.section-top{

text-align:center;

max-width:760px;

margin:auto;

margin-bottom:70px;

}

.section-tag{

display:inline-block;

padding:10px 22px;

background:#EEE8FF;

color:#6C2BD9;

border-radius:40px;

font-weight:700;

letter-spacing:1px;

margin-bottom:25px;

}

.section-top h2{

font-size:3rem;

color:#111827;

margin-bottom:18px;

font-weight:800;

}

.section-top p{

font-size:18px;

color:#6B7280;

line-height:1.8;

}

.products-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(280px,1fr));

gap:35px;

}

.view-all-container{

display:flex;

justify-content:center;

margin-top:70px;

}

.view-all-btn{

padding:18px 42px;

background:#6C2BD9;

border:none;

border-radius:16px;

color:white;

font-size:17px;

font-weight:700;

cursor:pointer;

transition:.35s;

box-shadow:0 15px 35px rgba(108,43,217,.28);

}

.view-all-btn:hover{

transform:translateY(-6px);

box-shadow:0 22px 45px rgba(108,43,217,.40);

}

@media(max-width:768px){

.product-section{

padding:80px 5%;

}

.section-top h2{

font-size:2.3rem;

}

.section-top p{

font-size:16px;

}

.products-grid{

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:25px;

}

.view-all-btn{

width:100%;

}

}